run = "make setup"
compile = "make"
modules = ["rust-stable", "cpp-clang14", "c-clang14", "rust-nightly"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "make setup"]
build = ["sh", "-c", "make"]

[[ports]]
localPort = 3000
externalPort = 80
