run = "make setup"
compile = "make"
modules = ["rust-stable", "python-3.12", "nodejs-20", "go-1.21"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "make setup"]
build = ["sh", "-c", "make"]

[[ports]]
localPort = 3000
externalPort = 80
