[package]
name = "quantumfuse_core"
version = "0.1.0"
edition = "2018"

[dependencies]
tokio = { version = "1.39.3", features = ["full", "macros"] }
serde = { version = "1.0.209", features = ["derive"] }
serde_json = "1.0.127"
sha2 = "0.10.8"
hex = "0.4.3"
rand = "0.8.5"
rocket = { version = "0.5.0-rc.1", features = ["json"] }
rocket_okapi = "0.8.0"
rocket_cors = "0.6.0"
juniper = "0.16.1"
juniper_rocket = "0.9.0"
jsonwebtoken = "9.3.0"
prometheus = "0.13.4"
redis = "0.26.1"
env_logger = { version = "0.11.5", features = ["default"] }
anstream = "0.6.15"
tracing = "0.1.40"
dotenv = "0.15.0"
libp2p = { version = "0.54.1", features = ["tcp-tokio", "dns-tokio"] }
substrate-api-client = "0.18.0"
assert_cmd = "2.0.16"
pem = "3.0.4"
<<<<<<< HEAD
sp-std = { version = "14.0.0", default-features = false }
frame-support = { version = "4.0", default-features = false }
frame-system = { version = "4.0", default-features = false }
=======
>>>>>>> c5232d7a94cb306d6554bb24cca869f891073a31
schnorrkel = "0.11.4"

# Align Substrate dependencies to compatible versions
sp-std = { version = "14.0.0", default-features = false }
frame-support = { version = "37.0.0", default-features = false }
frame-system = { version = "37.0.0", default-features = false }
sp-externalities = { version = "0.29.0", default-features = false }

[features]
default = ["std"]
std = [
    "sp-std/std",
    "frame-support/std",
    "frame-system/std",
    "sp-externalities/std",
]

[dev-dependencies]
cargo-edit = "0.12.3"
