[package]
name = "quantumfuse_blockchain"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
ring = "0.16" # Removed 'optional' to ensure secure cryptographic functions
thiserror = "1.0"
reqwest = { version = "0.11", features = ["json"], optional = true }
log = "0.4"
env_logger = { version = "0.11", features = ["default"] }
futures = "0.3"
ipfs-api = "0.7"
rand = "0.8"
ed25519-dalek = { version = "2.1", optional = true }
async-std = { version = "1.10", optional = true }
crossbeam = "0.8"
regex = "1.5"
time = "0.3"
protoc-rust = "2.25.0"
tokio = { version = "1.39", features = ["full", "macros"], optional = true }
sha2 = "0.10"
hex = "0.4"
rocket = { version = "0.5.0-rc.3", features = ["json"] }
rocket_okapi = "0.8.0"
rocket_cors = "0.6"
juniper = "0.16"
juniper_rocket = "0.9.0"
jsonwebtoken = "9.3"
prometheus = "0.13.4"
redis = "0.26"
anstream = "0.6"
tracing = "0.1"
dotenv = "0.15"
libp2p = { version = "0.49.0", features = ["tcp-tokio", "dns-tokio"] }
substrate-api-client = "0.18.0"
assert_cmd = "2.0"
pem = "3.0"
schnorrkel = "0.11"
wasm-react = "0.6.0" # Add wasm-react for React bindings in Rust

# Optional: Add wasm-bindgen for WebAssembly integration
wasm-bindgen = { version = "0.2", optional = true }

[dev-dependencies]
tokio-test = "0.4"
criterion = "0.3"

[build-dependencies]
prost-build = "0.9"

[profile.release]
opt-level = "z"
lto = true

[features]
default = ["std"]
std = ["serde/std", "tokio/std"]
wasm = ["wasm-bindgen"] # Define features necessary for Wasm builds
