[package]
name = "quantumfuse_blockchain"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = "1.0.209"
serde_json = "1.0.127"
ring = "0.17.8"
thiserror = "1.0.63"
reqwest = "0.12.7"
log = "0.4.22"
env_logger = "0.11.5"
futures = "0.3.30"
ipfs-api = "0.17.0"
rand = "0.8.5"
ed25519-dalek = "2.1.1"
async-std = "1.12.0"
crossbeam = "0.8.4"
regex = "1.10.6"
time = "0.3.36"
protoc-rust = "2.28.0"
tokio = "1.40.0"
sha2 = "0.10.8"
hex = "0.4.3"
rocket = "0.5.0"
rocket_okapi = "0.8.0"
rocket_cors = "0.6.0"
juniper = "0.16.1"
juniper_rocket = "0.9.0"
jsonwebtoken = "9.3.0"
prometheus = "0.13.4"
redis = "0.26.1"
anstream = "0.6.15"
tracing = "0.1.40"
dotenv = "0.15.0"
libp2p = "=0.54.1"
substrate-api-client = "0.18.0"
assert_cmd = "2.0.16"
pem = "3.0.4"
schnorrkel = "0.11.4"
wasm-react = "0.6.0"
wasm-bindgen = { version = "0.2", optional = true }
orx-split-vec = "3.7.0"
openssl-probe = "0.1.5"
cargo = "0.81.0"
wasm-instrument = "0.4.0" 
coins-bip32 = "0.12.0" 
smoldot = "0.18.0" 
zk_evm = "0.150.4" 
derivation-path = "0.2.0"
frame-system = "37.1.0"
frame-support-procedural = "30.0.2"
sp-runtime = "37.0.0"
sp-std =  "14.0.0"

[dev-dependencies]
tokio-test = "0.4"
criterion = "0.3"

[build-dependencies]
prost-build = "0.9"

[profile.release]
opt-level = "z"
lto = true

[features]
default = ["std"]
std = ["wasm-instrument/std", "serde/std", "tokio/full"]
wasm = ["wasm-bindgen"] # Use wasm-bindgen for Wasm support
