[package]
name = "quantumfuse_blockchain"
version = "0.1.0"
edition = "2018"

[dependencies]
tokio = { version = "1.10.0", features = ["full", "macros"] }
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
sha2 = "0.10.8"
hex = "0.4.3"
rand = "0.8.5"
rocket = { version = "0.5.0", features = ["json"] }
rocket_okapi = "0.8.0"
rocket_cors = "0.6.0"
juniper = "0.16.1"
juniper_rocket = "0.9.0"
jsonwebtoken = "9.3.0"
prometheus = "0.13.4"
redis = "0.26.1"
env_logger = "0.11.4"
anstream = "0.6.14"
tracing = "0.1.40"
dotenv = "0.15.0"
libp2p = { version = "0.49.0", features = ["tcp-tokio", "dns-tokio"] }
substrate-api-client = "0.18.0"
assert_cmd = "2.0.14"
pem = "3.0.4"
frame-support = { version = "4.0.0" }
frame-system = { version = "4.0.0" }
schnorrkel = "0.11.4"

[dev-dependencies]
cargo-edit = "0.12.3"
