Flask==3.0.3

requests==2.32.1

ipfshttpclient==0.8.0a2

prometheus_client==0.20.0

qiskit==1.4.2

pandas==2.2.2

numpy==2.1.1

scikit-learn==1.5.0

matplotlib==3.5.2

gunicorn==23.0.0

flask-cors==6.0.0

pyjwt==2.4.0

redis==5.1.0b7
