Flask==3.0.3

requests==2.32.0

ipfshttpclient==0.8.0a2

prometheus_client==0.20.0

qiskit==1.1.1

pandas==2.2.2

numpy==2.0.0rc2

scikit-learn==1.5.0

matplotlib==3.5.2

gunicorn==22.0.0

flask-cors==4.0.1

pyjwt==2.4.0

redis==5.1.0b7
