name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true

    - name: Install Rust components
      run: |
        rustup component add rust-src

    - name: Install dependencies
      run: make setup-rust

    - name: Build project
      run: make build-rust

    - name: Run tests
      run: make test-rust
